body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

#jsonDisplay {
    margin: 20px auto;
    padding: 20px;
    background-color: #f4f4f9;
    border-radius: 10px;
    width: 50%;
}